{# templates/add-to-treasures.html #}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <title>Add a treasure</title>
    <link rel='stylesheet' href='../public/css/treasures.min.css'>
</head>

<body>
    <h1>Add a Treasure</h1>
    <div class='container'>
        <p class='error-message'>To be implemented...</p>
    </div>
</body>

</html>